<ng-sidebar-container>
    <ng-sidebar [opened]="opened">
        <!-- BOTÓN NO FUNCIONA PERO NO PRESELECCIONA "COMPRAS" -->
        <div style="right: 5px; top: 10px; position: absolute;">
            <button (click)="toggleSidebar()" type="button" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
                </svg>
            </button>
        </div> 
        <div class="container-menu">
            <div class="cont-menu">
                <nav>
                    <a href="" (click)="toggleSidebar()">Compras</a>
                    <a href="" (click)="toggleSidebar()">Ventas</a>
                    <a href="" (click)="toggleSidebar()">Honorarios Informe Anual</a>
                    <a href="" (click)="toggleSidebar()">Honorarios Informe Mensual</a>
                    <a href="" (click)="toggleSidebar()">Honorarios Informe Diario</a>
                </nav>
                <!-- BOTOÓN FUNCIONA PERO PRESELECCIONA "COMPRAS" -->
                <!-- <a (click)="toggleSidebar()" class="exit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
                    </svg>
                </a> -->
            </div>
        </div>
    </ng-sidebar>
</ng-sidebar-container>
