ng-sidebar-container {
    position: absolute;
    height: 86vh;
    z-index: 99999;

}

::ng-deep .ng-sidebar {
    background-color:#d5ece9;
    width: 300px;
    padding: 2em 3em;
    box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}

.container-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.cont-menu {
    width: 100%;
    position: relative;
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #3d4054;
    border-left: 5px solid transparent;
    transition: all 500ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #3d4054;
    background: #bfe3de
}

.exit {
    right: 5px;
    top: 10px;
    float: right;
    position: absolute;
    cursor: pointer;
    color: #3d4054;
}