.modalc{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  vertical-align: auto;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  z-index: 2;
  display: flex;
  background: rgba(0,0,0,0.5);
  padding: 16px;
  
  &-content{
    width: 100%;
    max-width: 1200px;
  }

  &-header {
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0 32px;
    background-color: white;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    
  }

  &-body {
    background: white;
    border-radius: 0 0 10px 10px;
    padding: 16px;
  }
}

.color-boton{
  background-color: #049c84;
  color: white;  
}
.color-boton:hover{
  opacity: 0.75;
}

.color-tabla{
    background-color: #d7efeb;
    text-align: center;
    
}

.color {
  background-color: #3d4054;
  color: white;
}
.color:hover{
  opacity: 0.75;
}
.btn-icono{
  color: #3d4054;
  
}
.btn-icono:hover{
  opacity: 0.75;
}
.table th{
  text-align: center;
  vertical-align: middle;
}

.centralizar {
  background-color: rgb(139, 233, 140);
  color: black;
  width: 150px;
  margin-right: 680px;
  font-weight: bold;
}
.centralizar:hover {
  opacity: 0.75;
}





