<img src="../../assets/fondoregistro.jpg" class="img-fluid fondo">

<div class="row">


  <form (ngSubmit)="registrar()" [formGroup]="registrarUsuario">

    <h3 style="text-align: center;">Registrarse</h3>

    <br>
    
      <div class="mb-4">
        
        <label for="username" class="form-label">Nombre de usuario:</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          formControlName="username"
        />
      </div>

      
    
      
      <div
        *ngIf="(registrarUsuario.get('username')?.touched && registrarUsuario.get('username')?.errors?.['required'])"
        class="alert alert-danger"
      >
        Este campo es obligatorio.
      </div>
    
      
      <div
        *ngIf="registrarUsuario.get('username')?.touched && registrarUsuario.get('username')?.errors?.['minlength']"
        class="alert alert-danger"
      >
        Nombre de usuario debe ser de al menos 6 caracteres.
      </div>
    
      
      <div
        *ngIf="registrarUsuario.get('username')?.touched && registrarUsuario.get('username')?.errors?.['maxlength']"
        class="alert alert-danger"
      >
        Nombre de usuario debe ser como máximo 18 caracteres.
      </div>
    
      <div class="mb-4">
        
        <label for="rut" class="form-label">RUT (11.111.111-1):</label>
        <input
          type="text"
          class="form-control"
          id="rut"
          name="rut"
          formControlName="rut"
        />
      </div>

      <div
        *ngIf="(registrarUsuario.get('rut')?.touched && registrarUsuario.get('rut')?.errors?.['required'])"
        class="alert alert-danger"
      >
        Este campo es obligatorio.
      </div>

      
      <!--<div *ngIf="!verificarRut()" class="alert alert-danger">
        Dígito Verificador incorrecto.
      </div>-->

      <div
        *ngIf="(registrarUsuario.get('rut')?.touched && registrarUsuario.get('rut')?.errors?.['pattern'])"
        class="alert alert-danger"
      >
        Formato inválido.
      </div>

      


      <div class="mb-4">
        <label for="email" class="form-label">Correo electrónico:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          formControlName="email"
        />
      </div>
    
      
      <div
        *ngIf="(registrarUsuario.get('email')?.touched && registrarUsuario.get('email')?.errors?.['required'])"
        class="alert alert-danger"
      >
        Este campo es obligatorio.
      </div>
    
      
      
      <div
        *ngIf="(registrarUsuario.get('email')?.touched && registrarUsuario.get('email')?.errors?.['email'])"
        class="alert alert-danger"
      >
        Debe ser un correo válido.
      </div>
    
      
      <div class="mb-4">
        <label for="password" class="form-label">Contraseña:</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password1"
          [(ngModel)]="password1"
        />
      </div>
    
      
      <div
        *ngIf="(registrarUsuario.get('password1')?.touched && registrarUsuario.get('password1')?.errors?.['required'])"
        class="alert alert-danger"
      >
        Este campo es obligatorio.
      </div>
    
      
      <div
        *ngIf="registrarUsuario.get('password1')?.touched && registrarUsuario.get('password1')?.errors?.['minlength']"
        class="alert alert-danger"
      >
        Contraseña debe ser de al menos 8 caracteres.
      </div>
    
      
      <div
        *ngIf="registrarUsuario.get('password1')?.touched && registrarUsuario.get('password1')?.errors?.['maxlength']"
        class="alert alert-danger"
      >
        Contraseña debe ser como máximo de 15 caracteres.
      </div>
    
      
      <div class="mb-4">
        <label for="repassword" class="form-label">Repita contraseña:</label>
        <input
          type="password"
          class="form-control"
          id="repassword"
          formControlName="password2"
          [(ngModel)]="password2"
        />
      </div>
    
      <div *ngIf="!equalPass()" class="alert alert-danger">
        Las contraseñas no coinciden.
      </div>

      
    
      <a href="">¿Ya tienes cuenta?, Ingresa aquí</a>

      <br>
      <br>
      
      <button type="submit" class="btn btn-dark" [disabled]="registrarUsuario.get('username')?.errors?.['required'] || registrarUsuario.get('username')?.errors?.['minlength'] || registrarUsuario.get('username')?.errors?.['maxlength'] || registrarUsuario.get('email')?.errors?.['required'] ||registrarUsuario.get('email')?.errors?.['maxlenght'] || registrarUsuario.get('email')?.errors?.['email'] || registrarUsuario.get('password1')?.errors?.['required'] || registrarUsuario.get('password1')?.errors?.['minlength'] || registrarUsuario.get('password1')?.errors?.['maxlength'] || equalPass()==false || registrarUsuario.get('rut')?.errors?.['required'] || registrarUsuario.get('rut')?.errors?.['pattern']">
        Registrarse
      </button>

      
    </form>
  </div>

  
