
<!--PRIMERA TARJETA-->
<div class="blog-card spring-fever">
    <div class="title-content">
      <h3>SPRING FEVER</h3>
      <hr />
      <div class="intro">Yllamco laboris nisi ut aliquip ex ea commodo.</div>
    </div><!-- /.title-content -->
    <div class="card-info">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. 
    </div><!-- /.card-info -->
    <!-- overlays -->
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
  </div><!-- /.blog-card -->

  <!--SEGUNDA TARJETA-->
  <div class="blog-card-second spring-fever">
    <div class="title-content">
      <h3>SPRING FEVER</h3>
      <hr />
      <div class="intro">Yllamco laboris nisi ut aliquip ex ea commodo.</div>
    </div><!-- /.title-content -->
    <div class="card-info">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. 
    </div><!-- /.card-info -->
    <!-- overlays -->
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
  </div><!-- /.blog-card -->

  <!--TERCERA TARJETA-->
  <div class="blog-card-third spring-fever">
    <div class="title-content">
      <h3>SPRING FEVER</h3>
      <hr />
      <div class="intro">Yllamco laboris nisi ut aliquip ex ea commodo.</div>
    </div><!-- /.title-content -->
    <div class="card-info">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. 
    </div><!-- /.card-info -->
    <!-- overlays -->
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
  </div><!-- /.blog-card -->