<div class="container-fluid">
  <!--PRIMERA TARJETA-->
  <div class="blog-card spring-fever">
    <div class="title-content">
      <h3>VISIÓN</h3>
      <hr />
      <div class="intro">Profesionales de excelencia</div>
    </div><!-- /.title-content -->
    <div class="card-info">
        Proveer servicios profesionales de excelencia y acompañar integralmente a nuestros clientes. 
    </div><!-- /.card-info -->
    <!-- overlays -->
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
  </div><!-- /.blog-card -->
