.cont-fecha {
    width: 100%;
    margin: 15px;
    justify-content: center;
    display: flex;
    position: relative;
}

.cont-fecha select {
    margin: 10px;
    height: 50px;
    width: 210px;
}

.modalc{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    vertical-align: auto;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    z-index: 2;
    display: flex;
    background: rgba(0,0,0,0.5);
    padding: 16px;
    
    &-content{
      width: 100%;
      max-width: 1200px;
    }
  
    &-header {
      height: 65px;
      display: flex;
      align-items: center;
      padding: 0 32px;
      background-color: white;
      justify-content: space-between;
      border-radius: 10px 10px 0 0;
      
    }
  
    &-body {
      background: white;
      border-radius: 0 0 10px 10px;
      padding: 16px;
    }
  }

  .color-boton{
    background-color: #049c84;
    color: white;  
  }
  .color-boton:hover{
    opacity: 0.75;
  }

  .cont-button-save{
    margin: 40px;
  }

  table{
    table-layout: auto;
    width: 100%;
  }

  td{
    padding: 10px;
  }

  tr{
    width: auto;
  }