.container-fluid {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #93d3c9;
    color: white;
    font-weight: 600;

    img{
        margin: 0 16px;  
    }

    .icon{
        color: #3d4054;
        align-self: center;
        margin: 20px;
    }
  }
  .color {
    background-color: #3d4054;
    color: white;
    font-family: Didact Gothic;
  }

  

