@import url(https://fonts.googleapis.com/css2?family=Didact+Gothic);

.container-fluid {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #93d3c9;
    font-weight: 600;
    font-family: Didact Gothic;

    img{
        margin: 0 16px;  
    }

    .icon{
        color: #3d4054;
        align-self: center;
        margin: 20px;
    }
  }
  .color {
    background-color: #3d4054;
    color: white;
    margin-right: 20px;
    font-family: Didact Gothic;
    
  }



 

  

