.container-fluid {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: palegreen;
    color: white;
    font-weight: 600;

    img{
        margin: 0 16px;  
    }

    /*h1{
        color: black;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        align-self: center;
    }*/
  }

