<div class="container-fluid" role="banner">

    <!-- MENÚ LATERAL -->      
      <input type="checkbox" id="btn-menu">
      <div class="container-menu">
        <div class="cont-menu">
          <nav>
            <a href="/crear-cuentas">Planes de Cuenta</a>
            <a href="/empresas">Mis Clientes</a>
            <a href="/contabilidad-compras">Compras</a>
            <a href="/contabilidad-ventas">Ventas</a>
            <a href="">Honorarios Informe Anual</a>
            <a href="">Honorarios Informe Mensual</a>
            <a href="">Honorarios Informe Diario</a>
          </nav>
          <label for="btn-menu" class="icon-exit">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
            </svg>
          </label>
        </div>
      </div>

      <div class="btn-menu">
      <label for="btn-menu" class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg></label>
    </div>
    
   

    <!--LOGO-->
    <a href="/inicio2">
       <img
        width="200"
        alt="Logo Auditoría Contable SpA"
        src="https://acontable.appzone.cl/assets/img/logo-acontable.png"/> 
    </a>

    <!--ICONOS-->
    <div id="iconos" style="margin-left: 550px;">

      <!--ICONO HOME-->
      <a class="icon" href="/inicio2" >
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
          <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
        </svg>
      </a>
      
      <!--EMPRESAS-->
      <input formControlName="miEmpresaInput" id="miEmpresa" onkeyup="javascript:this.value=this.value.toUpperCase()" 
                          type="text" #searchInput (keyup)="search(searchInput.value)" class="form-control input" list="listaCuentas">
                          <datalist id="misEmpresas">
                            <option *ngFor="let x of misEmpresas$ | async" value={{x.data.razonSocial}}>
                          </datalist>
      <!-- BOTON NUEVO COMPROBANTE -->
       
      <button (click)="modal.showModal()" type="reset" class="btn color" >Nuevo comprobante</button>
      <button (click)="logOut()" type="button" class="btn color" >Salir</button>
      
    </div>
</div>

<!-- VENTANA NUEVO COMPROBANTE -->
<app-modal #modal></app-modal>

