<div class="row">


  <form (ngSubmit)="logueo()" [formGroup]="login">
      
    
      <h3 style="text-align: center;">Inicio de sesión</h3>
      <br>
      <br>
      <br>
      <div class="mb-4">
        <label for="email" class="form-label">Correo electrónico:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          formControlName="email"
        />
      </div>
    
      
      <div
        *ngIf="(login.get('email')?.touched && login.get('email')?.errors?.['required'])"
        class="alert alert-danger"
      >
        Este campo es obligatorio.
      </div>    
      
      <div
        *ngIf="(login.get('email')?.touched && login.get('email')?.errors?.['email'])"
        class="alert alert-danger"
      >
        Debe ser un correo válido.
      </div>
    
      <br>
      
      <div class="mb-4">
        <label for="password" class="form-label">Contraseña:</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password1"
          [(ngModel)]="password1"
        />
      </div>
    
      
      <div
        *ngIf="(login.get('password1')?.touched && login.get('password1')?.errors?.['required'])"
        class="alert alert-danger"
      >
        Este campo es obligatorio.
      </div>
    
      
      <div
        *ngIf="login.get('password1')?.touched && login.get('password1')?.errors?.['minlength']"
        class="alert alert-danger"
      >
        Contraseña debe ser de al menos
        {{ login.get('password1')?.errors?.['minlength']?.requiredLength }}
        caracteres.
      </div>
    
      
      <div
        *ngIf="login.get('password1')?.touched && login.get('password1')?.errors?.['maxlength']"
        class="alert alert-danger"
      >
        Contraseña debe ser como máximo
        {{ login.get('password1')?.errors?.['maxlength']?.requiredLength }}
        caracteres.
      </div>
    
      
      

      <a href="/recuperar">Recuperar contraseña</a>

      <br>
      <br>
      <br>
    
      <button type="submit" class="btn btn-dark" [disabled]="(login.get('email')?.errors?.['required'] || login.get('email')?.errors?.['email'] || login.get('password1')?.errors?.['required'] || login.get('password1')?.errors?.['minlength'] || login.get('password1')?.errors?.['maxlength'])">
        Ingresar
      </button>

      <br>
      <br>
      <br>
      <br>
      

      <a href="/registrar" style="float: right;">¿No tienes cuenta?, Regístrate.</a>    
      

    </form>

    
  </div>
  <img class="img-fluid float-end fondo" src="./fondologin.jpg">
  

  
 