<input type="file" (change)="readExcel($event)">

<br>
<br>

<div>
    <h3 style="text-align:center;">COMPRAS</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">AÑO</th>
                <th scope="col">MES</th>
                <th scope="col">Nro</th>
                <th scope="col">Tipo Doc</th>
                <th scope="col">Tipo Compra</th>
                <th scope="col">RUT Proveedor</th>
                <th scope="col">Razon Social</th>
                <th scope="col">Folio</th>
                <th scope="col">Fecha Docto</th>
                <th scope="col">Fecha Recepcion</th>
                <th scope="col">Fecha Acuse</th>
                <th scope="col">Monto Exento</th>
                <th scope="col">Monto Neto</th>
                <th scope="col">Monto IVA Recuperable</th>
                <th scope="col">Monto Iva No Recuperable</th>
                <th scope="col">Codigo IVA No Rec.</th>
                <th scope="col">Monto Total</th>
                <th scope="col">Monto Neto Activo Fijo</th>
                <th scope="col">IVA Activo Fijo</th>
                <th scope="col">IVA uso Comun</th>
                <th scope="col">Impto. Sin Derecho a Credito</th>
                <th scope="col">IVA No Retenido</th>
                <th scope="col">Tabacos Puros</th>
                <th scope="col">Tabacos Cigarrillos</th>
                <th scope="col">Tabacos Elaborados</th>
                <th scope="col">NCE o NDE sobre Fact. de Compra</th>
                <th scope="col">Codigo Otro Impuesto</th>
                <th scope="col">Valor Otro Impuesto</th>
                <th scope="col">Tasa Otro Impuesto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of excelData">
                <td>{{x.Anio}}</td>
                <td>{{x.Mes}}</td>
                <td>{{x.Nro}}</td>
                <td>{{x.Tipo_Doc}}</td>
                <td>{{x.Tipo_Compra}}</td>
                <td>{{x.RUT_Proveedor}}</td>
                <td>{{x.Razon_Social}}</td>
                <td>{{x.Folio}}</td>
                <td>{{x.Fecha_Docto}}</td>
                <td>{{x.Fecha_Recepcion}}</td>
                <td>{{x.Fecha_Acuse}}</td>
                <td>{{x.Monto_Exento}}</td>
                <td>{{x.Monto_Neto}}</td>
                <td>{{x.Monto_IVA_Recuperable}}</td>
                <td>{{x.Monto_IVA_No_Recuperable}}</td>
                <td>{{x.Codigo_IVA_No_Rec}}</td>
                <td>{{x.Monto_Total}}</td>
                <td>{{x.Monto_Neto_Activo_Fijo}}</td>
                <td>{{x.IVA_Activo_Fijo}}</td>
                <td>{{x.IVA_Uso_Comun}}</td>
                <td>{{x.Impto_Sin_Derecho_a_Credito}}</td>
                <td>{{x.IVA_No_Retenido}}</td>
                <td>{{x.Tabacos_Puros}}</td>
                <td>{{x.Tabacos_Cigarrillos}}</td>
                <td>{{x.Tabacos_Elaborados}}</td>
                <td>{{x.NCE_o_NDE_Sobre_Fact_de_Compra}}</td>
                <td>{{x.Codigo_Otro_Impuesto}}</td>
                <td>{{x.Valor_Otro_Impuesto}}</td>
                <td>{{x.Tasa_Otro_Impuesto}}</td>
            </tr>
        </tbody>
    </table>
</div>