

.cont-fecha {
    width: 100%;
    margin: 15px;
    justify-content: center;
    display: flex;
    position: relative;
}

.cont-fecha select {
    margin: 10px;
    height: 50px;
    width: 210px;
}
